/* Created by Michael Chen */
h3 {
    text-align: center;
}

.login-div {
    text-align: center;
    display: block
    margin: 0 auto
    horizontal-align: center;
}

.login-page ul {
    list-style-type: none;
}.

.login-page ul li {
    width= 500px;
}

.login-page img {
    width=100px;
    height=100px;
}

                                                                                                                                                                                                                                                                          float: none;
                                                                                                                                                                                                                                                                       margin-left: auto;
                                                                                                                                                                                                                                                                          margin-right: auto;
                                                                                                                                                                                                                                                                     }