/* Created by Michael Chen */
h3 {
    text-align: center;
}

#map {
   height: 400px;
   width: 100%;
}

.login-div {
    text-align: center;
    display: block;
    margin: 0 auto;
    horizontal-align: center;
}

.home-header {
    margin-bottom:50px;
}

.blk {
    border-style: solid;
    border-width:5px;
    border-color: #EEEEEE;
}

.category {
    background-image: url(../images/randompic-fade.jpg);
    background-position: 500px 300px;
    height: 300px;
    border-style: solid;
    border-width: 5px;
    border-color: #EEEEEE;

}

.category a {
    color: #333333;
}

.resource {
    margin-bottom: 20px;
}

.open .dropdown-menu {
    display:block;
}

.profile-div {
    background-image: url(../images/defaultprofile.png);
    width:200px;
    height:300px;
    background-repeat: no-repeat;


.profile-div .edit-pic {
    position: relative;
    float: right;
    opacity: 0.5;
    width: 200px;
    background: #999999;
    display: none;
    z-index: 3;
}

.profile-div: hover {
    opacity:0.6;
}

.profile-div:hover .edit-pic {
    display: inline;
}

.container {
    display:flex;
}









                                                                                                                                                                                                                                                                          float: none;
                                                                                                                                                                                                                                                                       margin-left: auto;
                                                                                                                                                                                                                                                                          margin-right: auto;
                                                                                                                                                                                                                                                                     }