/* Created by Michael Chen */
h3 {
    text-align: center;
}

.login-div {
    text-align: center;
    display: block
    margin: 0 auto
    horizontal-align: center;
}



                                                                                                                                                                                                                                                                          float: none;
                                                                                                                                                                                                                                                                       margin-left: auto;
                                                                                                                                                                                                                                                                          margin-right: auto;
                                                                                                                                                                                                                                                                     }