<!DOCTYPE html>
<html lang = "en">
  <head>

    <meta charset='utf-8'>
    <title>Alliance</title>
    <meta name = 'description' content = "Database for the organizations within">
    <meta name = 'author' content = "Michael Chen">

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <link rel= "stylesheet" type= "text/css" href= "/static/css/index.css">
  {% block css %} {% endblock %}

  <script type="text/javascript" src="/static/js/index.js"></script>
  {% block js %}{% endblock %}

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
