{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron container col-sm-8 col-sm-offset-2">
    {{ userdata[0][3] }}
    <form class="col-md-10 col-md-offset-1 container vertical-center" method="post">
        <label for="orgName"><h3>Organization Name: </h3></label>
        <div class="form-group row">
            <input  class = "input-lg col-md-12" id = "orgName" type="text" name = "orgName"
                    { % if user % }
                        value = "{{ userdata[0][3] }}"
                    { % else % }
                        placeholder="Organization Name">
        </div>
        <label for="orgPhone">Username: </label>
        <div class="form-group row">
            <input  class= "col-md-5" type="text" id="orgPhone" name = "orgPhone" placeholder="Username">
        </div>

        <label for="orgDescription">Password: </label>
        <div class="form-group row">
            <input  class= "col-md-5" type="text" id="orgPhone" name = "orgPhone" placeholder="Username">
        </div>
        <div class="form-group row">
            <h2>Resources</h2>
        </div>
        <div class="form-group row">
            <ul class="list-unstyled">
                {% for resource in userresource %}
                <li>
                    <div class="col-md-12 row">
                        <a class="col-md-4 vertical-center text-center" href="{{ url_for('resource_detail', resourcename = resource[0]) }}"><h4>{{ resource[0] }}</h4></a>
                        <a href="{{ url_for('editresource', name = resource[0]) }}"><img class="img-thumbnail" width="30" src="{{url_for('static', filename='images/edit-ic.png')}}"></a>
                        <a href="#"><img class="img-thumbnail" width="30" src="{{url_for('static', filename='images/delete-ic.png')}}"></a>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="col-md-12 row">
                        <a class="col-md-4" href="{{ url_for('addresource') }}"><h5>+ Add Resource</h5></a>
                    </div>
                </li>

            </ul>
        </div>
        <div class="form-group row">
            <button class="btn btn-default btn-lg col-md-4" name="resourceSubmit" type="submit">Submit</button>
        </div>
    </form>
</div>


</div>

{% endblock %}

</html>
