{% extends 'layout.html' %}

{%block content %}

<div class="jumbotron container col-sm-8 col-sm-offset-2">
    <form class="col-md-10 col-md-offset-1 container vertical-center" id="edit-resource" method = post>
        <label for="resourceName"><h3>Name: </h3></label>
        <div class="form-group row">
            <input  class = "input-lg col-md-12" id = "resourceName" type="text" name = "resourceName"
                    {% if resource %}
                        value = "{{ resource[0][0] }}">
                    {% else %}
                        placeholder = "Resource Name">
                    {% endif %}
        </div>
        <label>Phone Number: </label>
        <div class="form-group row phone">
            {% if phones %}
                {% for phone in phones %}
                <input  class= "col-md-5 resourcePhone" type="text" name = "resourcePhone" value="{{phone[0]}}">
                {% endfor %}
            {% else %}
            <input  class= "col-md-5 resourcePhone" type="text" name = "resourcePhone" placeholder="(000)000-0000">
            {% endif %}
            <span><a id="addphone" href="#">+Add</a></span>
        </div>
        <label>Address: </label>
        <div class="form-group row">
            <input id="resourceStreet" class="col-md-12" type="text" name = "resourceStreet"
                   {%if resource %}
                        value = "{{ resource[0][6] }} {{ resource[0][5] }}">
                   {% else %}
                        placeholder="123 E. EnterStreet St.">
                    {% endif %}
            <input id="resourceCity" class="col-md-6" type="text" name = "resourceCity"
                    {% if resource %}
                        value = "{{ resource[0][3] }}">
                    {% else %}
                        placeholder = "City">
                    {% endif %}
            <input type="text" class="col-md-3" id="resourceState" name="resourceState"
                    {% if resource %}
                        value = "{{ resource[0][2] }}">
                    {% else %}
                        placeholder = "State">
                    {% endif %}
            <input type="text" class="col-md-3" id="resourceZip" name="resourceZip"
                    {% if resource %}
                        value = "{{ resource[0][4] }}">
                    {% else %}
                        placeholder="Zip">
                    {% endif %}
        </div>

        <label for="resourceDescription">Description: </label>
        <div class="form-group row">
            <textarea class = "col-md-12" id="resourceDescription" rows = "5" name = "resourceDescription"
                      {% if resource %}
                        >{{ resource[0][11] }}</textarea>
                      {% else %}
                        placeholder="Enter Description"></textarea>
                      {% endif %}
        </div>
        <label>Categories:<span> (Choose as many as applicable)</span></label>
        {% for category in categories %}
        <div class="row form-group checkbox">
            <input type="checkbox" name="checkedCategory" id = "{{ category[0] }}" value="{{ category[0] }}">{{ category[0] }}: {{ category[1] }}</input>
        </div>
        {% endfor %}
        <div class="form-group row">
            <button class="btn btn-default col-md-6" method="get" onclick="{{ url_for('showNext') }}"name="next" id="next" type="button">Next</button>
            <button class="btn btn-default col-md-6" id="cancel" name="cancel" type="button" onclick="goBack()">Cancel</button>
        </div>
        <div class="specific">
            <h1>{{ checkList }}</h1>
            <div class="Childcare">
                <h3>Childcare</h3>
                <p>Attribz</p>
            </div>
            <div class="Education">
                <h3>Education</h3>
                <p>Attribz</p>
            </div>
            <div class="Employment">
                <h3>Employment</h3>
                <p>Attribz</p>
            </div>
            <div class="For_Children">
                <h3>For Children</h3>
                <p>Attribz</p>
            </div>
            <div class="Housing">
                <h3>Housing</h3>
                <p>Attribz</p>
            </div>
            <div class="Job_Readiness">
                <h3>Job Readiness</h3>
                <p>Attribz</p>
            </div>
            <div class="Legal">
                <h3>Legal</h3>
                <p>Attribz</p>
            </div>
            <div class="Life_Skills">
                <h3>Life Skills</h3>
                <p>Attribz</p>
            </div>
            <div class="Medical">
                <h3>Medical</h3>
                <p>Attribz</p>
            </div>
            <div class="Mental_Health">
                <h3>Mental Health</h3>
                <p>Attribz</p>
            </div>
            <div class="Mentors">
                <h3>Mentors</h3>
                <p>Attribz</p>
            </div>
            <div class="Networks">
                <h3>Networks</h3>
                <p>Attribz</p>
            </div>
            <div class="Supplies">
                <h3>Supplies</h3>
                <p>Attribz</p>
            </div>
            <div class="Transportation">
                <h3>Transportation</h3>
                <p>Attribz</p>
            </div>
            <div class="Vehicle">
                <h3>Vehicle</h3>
                <p>Attribz</p>
            </div>
            <div class="form-group row">
                <button class="btn btn-default col-md-6" name="submit" type="submit">Submit</button>
                <button class="btn btn-default col-md-6" name="cancel" type="button" onclick="goBack()">Cancel</button>
            </div>
        </div>
    </form>

</div>


{% endblock %}

</html>
