{% extends 'layout.html' %}

{%block content %}

<div class="jumbotron container col-sm-8 col-sm-offset-2">
    <form class="col-md-8 container vertical-center" method = post>
        <label for="resourceName"><h3>Name: </h3></label>
        <div class="form-group row">
            <input  class = "input-lg col-md-10" id = "resourceName" type="text" name = "resourceName"
                    {% if resource %}
                        value = "{{ resource[0][1] }}">
                    {% else %}
                        placeholder = "Resource Name">
                    {% endif %}
        </div>
        <label for="resourcePhone">Phone Number: </label>
        <div class="form-group row">
            <input  class= "col-md-5" type="text" id="resourcePhone" name = "resourcePhone" placeholder="(000)000-0000">
        </div>
        <label>Address: </label>
        <div class="form-group row">
            <input id="resourceStreet" class="col-md-10" type="text" name = "resourceStreet"
                   {%if resource %}
                        value = "{{ resource[0][7] }} {{ resource[0][6] }}">
                   {% else %}
                        placeholder="123 E. EnterStreet St.">
                    {% endif %}
            <input id="resourceCity" class="col-md-5" type="text" name = "resourceCity"
                    {% if resource %}
                        value = "{{ resource[0][4] }}">
                    {% else %}
                        placeholder = "City">
                    {% endif %}
            <input type="text" class="col-md-2" id="resourceState" name="resourceState"
                    {% if resource %}
                        value = "{{ resource[0][3] }}">
                    {% else %}
                        placeholder = "State">
                    {% endif %}
            <input type="text" class="col-md-3" id="resourceZip" name="resourceZip"
                    {% if resource %}
                        value = "{{ resource[0][5] }}">
                    {% else %}
                        placeholder="Zip">
                    {% endif %}
        </div>

        <label for="resourceDescription">Description: </label>
        <div class="form-group row">
            <textarea class = "col-md-10" id="resourceDescription" rows = "5" name = "resourceDescription"
                      {% if resource %}
                        >{{ resource[0][8] }}
                      {% else %}
                        placeholder="Enter Description">
                      {% endif %}
            </textarea>
        </div>
        <div class="form-group row">
            <button class="btn btn-default col-md-5" name="resourceSubmit" type="submit">Submit</button>
            <button class="btn btn-default col-md-5" name="cancel" type="button" onclick="goBack()">Cancel</button>
        </div>
    </form>
    <div class="col-md-4 container profile-div">
        <div class="edit-pic center-block">
            <a href="#"><img class="img-thumbnail" width="30" src="{{url_for('static', filename='images/edit-ic.png')}}"></a>
        </div>
    </div>

</div>


{% endblock %}

</html>
