{% extends 'layout.html' %}

{%block content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">Alliance for Survivor Care</a>
        </div>
        <div class="nav navbar-nav">
            <div class="dropdown">
                <button class="nav-item navbar-inner btn btn-default btn-sm btn-secondary dropdown-toggle"
                        data-toggle="dropdown" style="margin-top:10px; margin-left:10px;" id="dropdownMenuButton"
                        type="button" aria-haspopup="true" aria-expanded="false">Find Resource by Category
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left:10px;">
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Housing</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Medical</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Mental Health</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Job Readiness</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Legal</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Employment</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Transportation</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Professional Mentors</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Childcare</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Vehicle</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Life Skills</a></li>
                    <li class="dropdown-item"><a href="{{ url_for('search') }}">Survivor Networks</a></li>

                </ul>
            </div>
        </div>
        <div class="navbar-collapse navbar-toggleable-xs" id="bs-example-navbar-collapse-1">
            <h2 class="nav navbar-nav navbar-brand" style="color:#ddd; margin-left:150px;">Welcome, {{ user }}!</h2>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('organizations') }}">Organizations</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('edit_user') }}">Profile</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="row home-header">
        <h1 class="text-center">Top Categories</h1>
    </div>
        <div class="blk container content">
            <div class="row">
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Housing</a></h2>
                    <p>Description of Housing [..... ............ ....... ........ ........]</p>
                </div>
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Medical</a></h2>
                    <p>Description of Medical [.... ...... ........ ...... ........ ........]</p>
                </div>
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Mental Health</a></h2>
                    <p>Description of Mental Health [........ ...... .......... ..... ...... .....]</p>
                </div>
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Transportation</a></h2>
                    <p>Description of Transportation [.... .... ...... ........ ....... ..... ......]</p>
                </div>
            </div>
            <div class="row">
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Employment</a></h2>
                    <p>Description of Employment [... ........ ...... ...... ....... ..........]</p>
                </div>
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Childcare</a></h2>
                    <p>Description of Childcare [.... ...... ....... ....... ....... .........]</p>
                </div>
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Legal</a></h2>
                    <p>Description of Legal [.... ...... ...... ...... ...... ........ ....]</p>
                </div>
                <div class="category col-sm-3 text-center">
                    <h2><a href="{{ url_for('search') }}">Education</a></h2>
                    <p>Description of Education [..... ........ ...... ........ ....... ......]</p>
                </div>

            </div>
    </div>

</div>

<!--filters
    different for each category
        ex. Food bank- # of beds, subsidized, ...etc.
        Categories:
            Housing
            Medical (Dental, Medical)
            Mental Health (Counseling, Psych Evals)
            Job Readiness (Resume Building)
            Legal (Criminal Record)
            Employment
            Transportation
            Professional Mentors
            Childcare
            Vehicle (Drivers' License, classes, vehicle donations)
            Life Skills / Parenting Classes
            Education (GED classes, scholarships, higher ed, etc.)
            Survivor Networks (Parents of Survivors?)

        Filters:
            Takes Non-Citizens
            Documentation (ID, SS, Birth Certificate)


-->





{% endblock %}

</html>