{% extends 'layout.html' %}

{%block content %}

<div class="jumbotron">
    <div class="row home-header">
        <h1 class="text-center">Top Categories</h1>
    </div>

    <div class='blk container content'>
      <div class='row'>
        {% for category in categories %}
            <div class="category col-sm-3 text-center">
                <h2><a href="{{ url_for('search') }}">{{ category[0] }}</a></h2>
                  <p>{{ category[1] }}</p>
            </div>
        {% endfor %}
      </div>
</div>

<!--filters
    different for each category
        ex. Food bank- # of beds, subsidized, ...etc.
        Categories:
            Housing
            Medical (Dental, Medical)
            Mental Health (Counseling, Psych Evals)
            Job Readiness (Resume Building)
            Legal (Criminal Record)
            Employment
            Transportation
            Professional Mentors
            Childcare
            Vehicle (Drivers' License, classes, vehicle donations)
            Life Skills / Parenting Classes
            Education (GED classes, scholarships, higher ed, etc.)
            Survivor Networks (Parents of Survivors?)

        Filters:
            Takes Non-Citizens
            Documentation (ID, SS, Birth Certificate)


-->





{% endblock %}

</html>
