<!DOCTYPE html>
<html lang = "en">
  <head>

    <meta charset='utf-8'>
    <title>Alliance</title>
    <meta name = 'description' content = "Database for the organizations within">
    <meta name = 'author' content = "Michael Chen">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='lib/css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/index.css') }}">

    {% block extrastyle %} {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

    {% block extrascript %}{% endblock %}

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="{{ url_for('home')}}">Alliance for Survivor Care</a>
          </div>
          <div class="nav navbar-nav">
              <div class="dropdown">
                  <button class="nav-item navbar-inner btn btn-default btn-sm btn-secondary dropdown-toggle"
                          data-toggle="dropdown" style="margin-top:10px; margin-left:10px;" id="dropdownMenuButton"
                          type="button" aria-haspopup="true" aria-expanded="false">Find Resource by Category
                      <span class="caret"></span></button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-left:10px;">
                      {% for category in categories %}
                          <li class="dropdown-item"><a href="{{ url_for('search') }}">{{ category[0] }}</a></li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
          <div class="navbar-collapse navbar-toggleable-xs" id="bs-example-navbar-collapse-1">
              <h2 class="nav navbar-nav navbar-brand" style="color:#ddd; margin-left:150px;">Welcome, {{ name }}!</h2>
              <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('organizations') }}">Organizations</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('edit_user') }}">Profile</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
          </div>
      </div>
  </nav>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <body {% block class %} {%endblock %}>
    {% block content %}
    {% endblock %}
  </body>

</html>
