<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = './lib/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = './css/index.css') }}" >
</head>
<body>
    <title>Welcome</title>
    <div class="login-div">
        <form class="login-page">
            <ul>
                <li><img src="../images/randompic.jpg" alt="random pic"></li>
                <li><input type="text" name = "username" placeholder="Username" required></li>
                <li><input type="password" name="password" placeholder="Password" required></li>
                <li><button class="login button" type="submit">Login</button></li></li>
            </ul>
        </form>
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>