<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = './lib/css/bootstrap.min.css') }}" >
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename = './css/index.css') }}" >
</head>
<body>
    <title>Welcome</title>
    <div style="text-align:center; vertical-align:middle">
        <form class="login-page">
            <input type="text" name = "username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button class="login button" type="submit">Login</button></li>
        </form>
    </div>
</body>
</html>