{% extends 'layout.html' %}

{%block content %}

<div class="jumbotron col-sm-8 col-sm-offset-2">
    <h1 class="text-center">Organizations</h1>
    <div class="blk content">

        <ol style="font-size:2em">
            {% for org in orgdata %}
                <li>
                    <div class="organization">
                        <h2><a href="{{url_for('user_detail', detailorg = org[0]) }}">{{ org[0] }}</a></h2>
                        <h4>000-000-0000</h4>
                        <p>Description of Organization [... ........ ...... ...... ....... ..........]</p>
                    </div>
                </li>
            {% endfor %}
        </ol>

    </div>
</div>

{% endblock %}

</html>
