{% extends 'layout.html' %}

{%block content %}

<div class="container-fluid">
    <div class="jumbotron row">
        {% if favorites %}
        <div class="row home-header">
            <h1 class="text-center">Favorites</h1>
        </div>
        {% else %}
        <div class="row home-header">
            <h1 class="text-center">Search Results</h1>
        </div>
        {% endif %}
        <div class="dropdown">
            <button class="btn btn-default btn-lg btn-secondary dropdown-toggle"
                    data-toggle="dropdown" style="margin-top:10px; margin-left:50px;"
                    type="button" aria-haspopup="true" aria-expanded="false">Filter
                <span class="caret"></span></button>
            <ul class="dropdown-menu list-inline container col-xs-4" aria-labelledby="dropdownMenuButton" style="margin-left:50px;">
                <li class="dropdown-item">
                    <div class="center-block">
                        <ul class="list-unstyled list-inline">
                            <row class="text-center">
                                <li class="dropdown-header">
                                    <h5>Categories</h5>
                                </li>
                            </row>
                            {% for category in categories %}
                            <li><input type="checkbox" value = "">{{ category[0] }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="dropdown-item">
                    <div class="center-block">
                        <ul class="list-unstyled list-inline">
                            <row class="text-center">
                                <li>
                                    <h5>Requirements</h5>
                                </li>
                            </row>
                            <li><input type="checkbox" value="">Takes Non-Citizens</input></li>
                            <li><input type="checkbox" value="">ID</input></li>
                            <li><input type="checkbox" value="">Social Security</input></li>
                            <li><input type="checkbox" value="">Birth Certificate</input></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown-item">
                    <div class="center-block">
                        <ul class="list-unstyled list-inline">
                            <row class="text-center">
                                <li>
                                    <h5>Location</h5>
                                </li>
                            </row>
                            <li><input type="checkbox" value="">Midtown</input></li>
                            <li><input type="checkbox" value="">Downtown</input></li>
                            <li><input type="checkbox" value="">Buckhead</input></li>
                            <li><input type="checkbox" value="">Decatur</input></li>
                            <li><input type="checkbox" value="">Sandy Springs</input></li>
                        </ul>
                    </div>
                </li>
                <li class="dropdown-item">
                    <div class="center-block">
                        <row class="text-center btn-toolbar">
                            <button name="dropdownButton" class="btn-sm btn-primary col-sm-12 col-sm-offset-7" href="#">Go</button>
                        </row>
                    </div>
                </li>
            </ul>
        </div>
        <div class="jumbotron col-sm-8">
            <div class="blk content">
                <ol style="font-size:2em">
                    {% for resource in resources %}
                        <li>
                            <div class="resource">
                                <h2><a href="{{ url_for('resource_detail', resourcename = resource[1]) }}">{{ resource[1] }}</a></h2>
                                <p>{{ resource[2] }}</p>
                            </div>
                        </li>

                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="col-sm-4">
            <div style="margin-top:50px;">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <script>
     function initMap() {
        var atlanta = {lat: 34, lng: -84};
        var bounds = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 4,
                  center: atlanta
        });

        var addresses = [{% for resource in resources %} "{{resource[7]}} {{resource[6]}}, {{resource[4]}}, {{resource[3]}} {{resource[5]}}", {% endfor %}]



        for (x = 0; x < addresses.length; x++) {
             var geocoder = new google.maps.Geocoder();
                    geocoder.geocode( { 'address': addresses[x]}, makeCallback(x, bounds));
        }


        function makeCallback(addressIndex, bounds) {
        var geocodeCallBack = function(results, status) {
            var i = addressIndex;
            if (status == google.maps.GeocoderStatus.OK) {
                    var latitude = results[0].geometry.location.lat();
                    var longitude = results[0].geometry.location.lng();
                    var marker = new google.maps.Marker({
                    position: {lat: latitude, lng: longitude}, map: map, label: (i+1).toString()});
                    bounds.extend(marker.position);
               }
               map.fitBounds(bounds);

            }
            return geocodeCallBack;
        }

     }
    </script>

</div>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVCNy3UI9ujhTLUUz8qle6BnUpQP1k2pw&callback=initMap">
</script>


{% endblock %}

</html>

